{% extends 'index.twig' %}

{% block content %}
  <body>
    <div class="container">
      <div class="column is-full">
        <h2 class="subtitle is-2">
          Neuen Eintrag erstellen
        </h2>
      </div>

      <form action=""
        method="post"
        id="entryform"
        enctype="multipart/form-data">
          <div class="column is-full">
             <div class="subtitle is-2">
                <label class ="label" for="inputTitel">
                   Eintragstitel
                </label>
                 <input type="text"
                  class="input"
                  id="inputTitle"
                  name="title"
                  placeholder="Hier Titel einfügen"
                  value="{{ entry.entry_title }}" />
             </div>
          </div>

      <div class="column is-full">
          <div class="subtitle is-2">
              <label class="label">
                Inhalt des Eintrages
              </label>
                <textarea type="text"
                  class="textarea"
                  id="inputText"
                  name="text"
                  placeholder="Hier Text einfügen"
                  value="{{ entry.entry_text }}" />
                  </textarea>
        </div>
      </div>

        <div class="column is-full">
          <label for="form_file" class="label">
            Bilddatei
          </label>
          <input type="file"  name="picture" value="{{ entry.picture }}" />
        </div>

 {% block buttons %}
        <div class="column is-full">
          <button type="submit" 
            class="button is-primary"
            name="create"
            value="create">
            Eintrag erstellen
          </button>

          <a href="/" class="" role="group" aria-label="Basic example">
            <button type="button" class="button is-light">
              Abbrechen
            </button>
          </a>
       </div>
       {% endblock %}
      </form>
    </div>
  </body>
{% endblock %}
