{% extends 'index.twig' %}
{% block content %}
  <body>
    <div class="container">
      <div class="column is-full">
        <h2 class="title is-2">
          Dokumentation
        </h2>
        <h3 class="title is-3">
          Hausarbeit WWW-Programmierung 
        </h3>
        <h4 class = "subtitle is-4">
         Rika Petersen - ripe8968 - 611015
        </h4>
      </div>
      <div class="content is-large">
        <div class="column is-full">
          <div class="card">
            <div class="card-content">
              <h4 class="subtitle is-4">
                Ziel und Funktionsumfang der Anwendung
              </h4>
              <content>
                Die Anwendung umfasst ein Blogsystem. Angemeldete User können
                Blogbeiträge erstellen und Blogbeiträge anderer User
                kommentieren. Eigene Blogbeiträge können auch bearbeitet oder
                gelöscht werden. Man kann sich alle Blogbeiträge anzeigen
                lassen, nach Aktualität oder alphabetischer Reihenfolge, oder
                auch die Seite eines speziellen Eintrages ansehen, dort kann man
                dann auch die Kommentare der anderen User lesen oder auch selbst
                einen verfassen. Wenn man auf den Namen eines Users klickt
                gelangt man auf eine Art Profil, dort kann man alle Blogeinträge
                sehen, die dieser Nutzer bereits verfasst hat. Wenn man nicht
                angemeldet ist kann man alle Inhalte sehen, man kann nur keine
                Beiträge oder Kommentare verfassen.
              </content>
            </div>
          </div>
        </div>

        <div class="column is-full">
          <div class="card">
            <div class="card-content">
              <h4 class="subtitle is-4">
                Aufbau der Anwendung
              </h4>

              <content>
                Die Anwendung ist nach dem <strong>
                  Model-View-Controller Pattern
                </strong> aufgebaut. Das bedeutet, dass es ein Model gibt, welches
                Zugriff auf die Datenbank hat. Und Controller, die auf das Model
                zugreifen und die Daten die das Model zurückliefert verarbeitet.
                Der Controller liefert dann die verarbeiteten Daten an den View weiter,
                wo die Daten dann dagestellt werden. <br />

                In meiner Anwendung gibt es drei Controller, mit jeweils
                unterschiedlichen Aufgaben. Der Controller ist nur für statische
                Zwecke da, bei denen keine Änderungen vorgenommen werden. Er
                ruft über das Model nur Daten aus der Datenbank ab um sie dann
                darzustellen. Der Formcontroller ist für die das Anzeigen der
                Formulare und die Verarbeitung der Eingabedaten von Formularen
                zuständig. Er ist immer zuständig wenn Formulare benutzt werden.
                Der Login Controller ist für die Verarbeitung der Daten die in
                die Login oder Registrierungsformulare eingegeben werden
                zuständig, außerdem auch für das Anzeigen der Login- und
                Registrierungsformulare. Hier wird auch das eingegebene Passwort
                mit dem Nodemodul bcrypt gehashed. <br />

                Meine Anwendung besitzt zwei Modeldateien, eine ist zuständig
                für alle Zugriffe, die die Blogeinträge betreffen. Diese Datei
                heißt entryDatabase.js. Dort werden über SQL-Abfragen die
                Datensätze aus der Datenbank geholt und über die Get-Funktion
                aufbereitet. Für die Darstellung und über die ChangeEntry- oder
                ChangeComment-Funktion werden die Formulardaten für die
                Datenbank vorbereitet und eingetragen. <br />
                Die Modeldatei userDatabase.js bearbeitet die Vorgänge für alle Userfälle.
                Dort werden also ebenfalls über SQL Abfragen die Daten in die Datenbank
                geschrieben oder herausgeholt.<br />

                Die Datenbank kann über den Code erstellt werden. Hierfür habe
                ich eine Datei initDatabase.js erstellt. Wenn man zu Beginn
                diese einmal im Terminal startet wird eine .db Datei erstellt,
                mit drei verschiedenen Tabellen und den beiden Tabellen für die
                Sessions. Die InitDatabase-Datei enthält die SQL Befehle für das
                erstellen der Tables und das Einsetzen von Dummie-Einträgen.

                Über die Serverdatei startet man die Anwendung. Hier werden alle
                Nodemodule required deren Funktion im kompletten Programm
                benötigt wird, außerdem wird von hier der Port gestartet. <br />
                Die Index.js Datei ist der Router für alle Programmfälle die keine
                Änderungen an der Datenbank verlangen, mit Ausname der Registrierung,
                diese wird auch über die Index.js eingeleitet. Zum Beispiel, wenn
                die Dokumentation angezeigt werden soll, das Impressum oder alle
                Einträge in alphabetischer Reihenfolge. Das Log In und das Log Out
                läuft ebenfalls über den Indexrouter. Die blog.js Datei ist der Router
                für alle Programmfälle die etwas mit den Blogeinträgen zu tun hat,
                zum Beispiel wenn man einen Eintrag schreiben will oder wenn alle
                Einträge gezeigt werden sollen.
                <br />
                Im Ordner config befindet sich die Validationsdatei und die Passport-Configurationsdatei
                Die Validationsdatei ist dazu da, alle Eingaben bei der Registrierung
                auf bestimmte Parameter zu überprüfen. So muss eine E-Mailadresse
                ein @ Zeichen enthalten und das Passwort mindestens 8 Zeichen enthalten,
                davon mindestens einen Groß- und ein Kleinbuchstaben und außerdem
                mindestens eine Zahl und ein Sonderzeichen. Die Datei Passport-Config
                vergibt an einen User einen "Pass" nachdem es gechecked hat ob es
                einen User in der Datenbank gibt mit den angegeben Daten (Nutzername
                und Passwort).
                <br />
                Der Ordner views enthält alle twig/html Dateien die ich verwende
                um die Anwendung anzuzeigen zum Beispiel die index.twig von der jede
                Twigdatei erbt, da diese unter anderem die Navbar und den Footer
                enthält.
              </content>
              <div class="card-image">
                <figure>
                  <img src="/klassendiagramm.jpg" />
                </figure>
                <content>
                  Hier habe ich die Struktur meiner Anwendung einmal in einem
                  Diagramm dargestellt.
                </content>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-full">
          <div class="card">
            <div class="card-content">
              <h4 class="subtitle is-4">
                Überlegungen zu den URIs
              </h4>

              <content>
                Bei den URIs bin ich so vorgegangen, dass ich sie so einfach wie
                möglich gelassen habe und versucht habe, dass sie ungefähr das
                beschreiben, was sie tun, damit es einfacher zu debuggen ist und
                das weiter arbeiten an der Anwendung einfacher ist. Für den User
                ist es so auch einfacher die Struktur der Anwendung zu verstehen
                und zur Not kann er URIs manuell eingeben, falls es zu langen
                Ladezeiten kommt oder sich der Browser aufhängt.
              </content>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <div class="card">
            <div class="card-content">
              <h4 class="subtitle is-4">
                Aufgabenteilung: Welcher Teil übernimmt welche Aufgaben?
              </h4>

              <content>
                <strong>Server:</strong> In der Serverdatei wird der Server erstellt
                und die Anwendung geht je nach Fall in den zuständigen Router.<br />
                <strong>Router:</strong> Ich habe zwei Router einen der alle Fälle
                die mit den Blogeinträgen zu tun haben bearbeitet und einein der
                sich mit dem Authentifizierungsteil und den Anzeigendenteil wie Dokumentation
                und Impressum beschäftigt.
                <br />
                <strong>Controller:</strong>
                Ich habe für diese Anwendung drei Controller geschrieben.
                <li>
                  <strong>Controller:</strong> Handelt das Anzeigen von Impressum,
                  Dokumentation, Startseite, aller Einträge in aplphabetischer Reihenfolge
                  ab. Außerdem ist er zuständig für das Registrieren und das ein
                  und aus loggen.
                </li>
                <li>
                  <strong>Form Controller:</strong> Der Form Controller ist für das
                  Anzeigen des Blogeintrags- und Kommentarformular. Er reicht die
                  eingegebenen Formulardaten auch weiter an das Model. Außerdem ist
                  er dafür zustängig, was nach dem abschicken eines Formulares (Blogeintrag
                  oder Kommentar) passiert. Das Löschen von Einträgen und Kommentaren
                  wird hier ebenfalls bearbeitet und an das Model geschickt. Ich
                  hatte außerdem schon Funktionen dafür geschrieben, für den Fall,
                  dass das Formular ein Bildenthält. Leider habe ich den Bildupload
                  nicht implementiert bekommen.
                </li>
                <li>
                  <strong>Login Controller:</strong>
                  Der Login Controller ist für das Anzeigen der Regisstrierungs-
                  und LogIn-Formulare zuständig und auch für das was nach dem Submit
                  der Formulare passiert. Bedeutet hier wird, wenn alle Eingaben
                  valide sind, das Passwort gehashed, mittels Bcrypt, und die Daten
                  dann an das Usermodel weitergegeben.
                </li>
                <br />
                <strong>Model:</strong> Ich habe zwei verschiedene Models, eins ist
                nur für die Fälle da, die mit den Usern zu tun haben (Anzeigen von
                Usernamen, Login und Registrierung). Das zweite Model verwaltet die
                Daten der Blogeinträge und der Kommentare. Die Models greifen über
                SQL-Befehle auf die Datenbanken zu und können sie über Methoden bearbeiten
                oder die Datensätze als Callback zurückliefern. <br />
                <strong>Data:</strong> Hier befindet sich die Datenbank. Hier sind
                die Daten(Blogeinträge, Kommenatre, User) gespeichert.<br />
                <strong>View:</strong> Der View bildet sich aus den Twigdateien,
                die die Anwendung anzeigen. Hier gibt es ein Index.twig von dem alle
                anderen Twigdateien erben. Hier sind die Navbar und der Footer enthalten.
                In den Twigdateien sind teilweise PHP-Statements, welche für das
                Anzeigen der Inhalte aus der Datenbank zuständig sind, die zuvor
                im zuständigen Controller deklariert wurden. Und um den Zugriff auf
                Funktionen zu regeln, dass zum Beispiel nur angemeldete User den
                "Eintrag erstellen" Button sehen können oder dass nur der Verfasser
                eines Beitrages diesen auch bearbeiten oder löschen kann. <br />
                <strong>Configuration:</strong> Hier befindet sich die Datei zum
                validieren der Formulareingaben zur Registrierung. Und die Passport-config
                Datei erstellt für jeden eingeloggten User einen Pass. Hier habe
                ich das Nodemodul Passport verwendet.
                <br />
                <strong>Public:</strong> Im Abschnitt Public befinden sich die Ressourcen
                der Anwendung. Zum Beispiel die Bulma CSS Datei oder die Bilder die
                ich verwendet habe und die Font. In den pictures Ordner sollten die
                hochgeladenen Bilddateien eigentlich verschoben werden und dann mittels
                des Namen, der in der Datenbank steht in ihrem dazugehörigen Blogeintrag
                angezeigt werden. Im Ordner Favicon befindet sich die Bilddatei für
                das Favicon.
                <br />
              </content>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <div class="card">
            <div class="card-content">
              <h4 class="subtitle is-4">
                Warum wurde diese Aufteilung gewählt?
              </h4>

              <content>
                Diese Aufteilung macht zum einen Sinn, da es übersichtlicher ist
                und es einem so einfacher macht zu debuggen und Funktionen zu
                bearbeiten. Zum anderen hilft die Übersichtlichkeit auch anderen
                Programmierern sich schnell in die Anwendung einzuarbeiten und
                das MVC-Pattern ist in der Programmierung sehr verbreitet, daher
                kennen viele Progremmierer diese Programmstruktur.
              </content>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <div class="card">
            <div class="card-content">
              <h4 class="subtitle is-4">
                Aufbau der Datenbank
              </h4>
              <content>
                Ich hab die Datenbank in drei Tabellen aufgeteilt. Zum einen die
                Blogeinträge, dann die User und dann die Kommentare. Diese
                Tabellen sind untereinander mit foreign keys verbunden, so hat
                jeder Eintrag einen User, der ihn geschrieben hat und jedes
                Kommentar einen User, der ihn geschrieben hat und einen Eintrag
                zu dem es geschrieben wurden. Als Primary keys habe ich immer
                die ID des Tables verwendet, dieser wird für jeden Datensatz
                angelegt und ist unique und wird immer automatisch
                incrementiert. Die Tabelle Sessions wurde vom Nodemodul
                SQLite3-Connect erstellt und auf die Tabelle sqlite_sequence
                enthält wie viele User, Entrys und Comments es gibt.
                <br />
                <strong>Comments:</strong> Die Tabelle Comments besteht aus einer
                id, dem Text des Kommentars, dem user fk der der id des Autoren des
                Kommentars beinhaltet und einen entry fk der aus der id des Blogeinträge
                besteht zu dem der Kommentar verfasst wurde. Außerdem habe ich auch
                noch ein Attribut für den Username des Verfassers erstellt, damit
                ich diesen anzeigen lassen kann.
                <br />
                <strong>Entrys:</strong> Diese Tabelle besteht aus einer id, die
                als primary key fungiert. Außerdem besteht sie aus einem Titel und
                einem Text aus dem der Blogbeitrag besteht. Ich habe auch versucht
                einen Bildupload zu erstellen, doch leider hab ich es nicht geschafft,
                aber daher kommt das Attribut picture, dort würde der Name des Bildes,
                welches man hochladen möchte, reingeschrieben. Damit der Eintrag
                auch einen Autor hat wird dort die id des Users als foreign key eingetragen.
                Damit ich auch hier die Usernamen anzeigen lassen kann habe ich auch
                ein Attribut für den Usernamen angelegt.
                <br />
                <strong>Users:</strong> Die Tabelle Users besteht nur aus der id,
                die auch hier der primary key ist und dem Usernamen, der User-E-mail
                und dem Passwort, welches, wenn man sich registriert, gehashed in
                die Datenbankeingetragen wird.
              </content>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <div class="card">
            <div class="card-content">
              <h4 class="subtitle is-4">
                Nutzung von JS im Frontend
              </h4>
              <content>
                JavaScript habe ich im Frontend überhaupt nicht verwendet. Denn
                es besetht immer die Gefahr, dass User einen alten Browser
                verwenden oder das JavaScript in ihrem Browser deaktiviert
                haben, dann könnten diese User diese Anwendung nicht mehr
                verwenden.
              </content>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <div class="card">
            <div class="card-content">
              <h4 class="subtitle is-4">
                Überlegungen zum Progressive Enhancement
              </h4>

              <content>
                Damit die Anwendung in fast jedem Browser und bei jeder Art der
                Internetverbindung funktioniert habe ich zum einen mit der
                Nunjucks Renderengine gearbeitet. Diese wird von fast jedem
                Browser unterstützt. Außerdem habe ich darauf geachtet, dass die
                Anwendung komplett responsive ist, damit sie von jedem Endgerät
                aus genutzt werden kann. Hier bei war es sehr hilfreich mit
                einem CSS Framework wie Bulma zu arbeiten, da Bulma automatisch
                responsive ist. Auf aufwendige Effekte und Implementationen mit
                JavaScript im Frontend habe ich verzichtet, falls User
                JavaScript im Browser ausgestellt haben oder einen veralteten
                Browser nutzen.
              </content>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <div class="card">
            <div class="card-content">
              <h4 class="subtitle is-4">
                Besonderheiten
              </h4>
              <content>
                Ich habe das CSS Framework Bulma Verwendet. <br />
                Man kann sich auf einer Art Userprofil alle Blogeinträge eines Users
                anzeigen lassen. Außerdem wird, wenn man eingeloggt ist oben in der
                Navbar ein Button angezeigt mit dem Usernamen des angemeldeten Users,
                über diesen Button kann man sich sein eigenes Profil anzeigen lassen.<br />
                Die Anwendung besitzt ein Favicon, welches ich mit dem Nodemodul
                Favicon umgesetzt habe.<br />
                Die Anwendung rendert Bei falschem Input den Fehler. Die funktioniert
                beim Log In und beim Registrieren. Es sagt genau wo der Fehler liegt,
                ob das Passwort falsch ist oder der Username.<br />
                Außerdem habe ich Flash Messages für das erstellen, bearbeiten und
                löschen von Blogeinträgen und auch für das erstellen von Kommentaren
                und löschen von Kommentaren erstellt. Nach dem registrieren bekommt
                man ebenfalls eine Flash-Nachricht. <br />
                Ich habe auch eine error.twig Datei angelegt, die bei verschiedenen
                Fehlern angezeigt wird. Sie zeigt außerdem an, welcher Fehler vorliegt,
                zum Beispiel ob man die URL falsch eingegeben hat oder ob man sich
                für bestimmte Inhalte einloggen muss, wenn man zum Beispiel versucht,
                auf das Blogbeiträgeformular zuzugreifen, in dem man die URL dazu
                eingibt und nicht authentifiziert ist.
              </content>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <div class="card">
            <div class="card-content">
              <h4 class="subtitle is-4">
                Aufgetretene Probleme und deren Lösungen
              </h4>

              <content>
                Die meisten meiner Probleme waren, dass irgendwo eine Klammer zu
                viel oder zu wenig war und dieses manchmal nicht als
                Fehlerangezeigt wurde. Einen Großteil der Zeit hatte ich
                Probleme mit dem Twig, dass das Css der Indexdatei nicht
                übernommen hatte. Solche Fehler lagen meist auch an Fehlern
                innerhalb der Twigdateien, wie wenn man zum Beispeil ein If
                nicht geschlossen hatte. <br />
                Allgemein fiel mir das debuggen in JavaScript sehr schwer, weil die
                Fehlermeldungen in der Console häufig kryptisch waren und die Fehler
                in irgendwelchen moduleigenen Scripten angezeigt wurden obwohl die
                Fehler in meinen Scripten waren. Oft wurden Fehler einfach an Stellen
                angezeigt an denen sie gar nicht waren.<br />
                Außerdem musste ich mich erstmal an den asynchronen Programmablauf
                gewöhnen um richtig debuggen zu können.<br />
                Probleme hatte ich mit dem Bildupload. Ich habe versucht die Daten
                des Bildes in der post Methode abzufangen über req.files. Jedoch
                war req.files immer null oder undefined. Durch Recherche im Internet
                habe ich herausgefunden, dass man Bilder seit Express 4.0. nicht
                mehr nur über req.files abrufen kann. Jetzt braucht man dafür eine
                extra Middleware. Im Internet haben die meisten da zu Multer geraten.
                Ich habe versucht den Bildupload mittels Multer einzubauen, habe
                es jedoch nicht geschafft. Ich habe auch versucht die Express Version
                downzugraden, aber es hat dann trotzdem nicht funktoniert. Dann habe
                ich es auch nochmal mit einer älteren Node Version versucht, aber
                das war auch nicht erfolgreich. <br />
              </content>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <div class="card">
            <div class="card-content">
              <h4 class="subtitle is-4">
                Welche externen Komponenten, Scripte, CSS etc werden verwendet
                und warum werden sie verwendet?
              </h4>
              <content>
                <strong>Bulma:</strong> Ich habe für die Gestaltung der Hausarbeit
                das kostenfreie CSS Framework Bulma verwendet. Dieses zeichnet sich
                durch seine einfache Handhabung aus. Klassennamen sind einfach und
                intuitiv benannt. Es gibt nur eine CSS Datei und keine JavaScript
                Komponenten. Es gibt außerdem eine sehr detailierte Dokumentation
                zu Bulma. Und man kann es einfach an die eigenen Wünsche anpassen.<br />

                <strong>Twig-Template:</strong> Twig habe ich als Template-Engine
                verwendet.<br /> <strong>Express:</strong>
                Express wurde als serverseitiges Webframework für Node.js verwendet.<br />
                <strong>Nunjucks:</strong> Nunjucks habe ich als Renderengine verwendet,
                da diese mit fast jedem Browser kompatibel ist.<br />
                <strong>Passport:</strong> Habe ich als Authentifizierungs Middleware
                genutzt.<br /> <strong>Bcryp:</strong> Habe ich verwendet zum hashen
                und enthashen des Userpasswortes.<br />
                <strong>Express-FileUpload:</strong> Wollte ich für den Fileupload
                verwenden.<br />
                <strong>Multer:</strong> Habe ich versucht als Middleware für den
                Bildupload zu nutzen.<br />
                <strong>Express-Sessions:</strong> Wird für den Login benötigt um
                eine Session möglich zumachen. Eine Session startet mit dem Login
                und endet mit dem ausloggen. Die Session speichert vorübergehend
                Informationen über den User, solange er mit der Anwendung verbunden
                ist.<br />
                <strong>Body-Parser:</strong> Den Bodyparser habe ich verwendet um
                an die Eingaben im Formular zu kommen. <br />
                <strong>Serve-Favicon:</strong> Habe ich verwendet, damit die Anwendung
                ein Favicon hat.<br />
                <strong>SQLite3:</strong> Wurde verwendet um an die Datenbank heranzukommen.
                Um Daten auszulesen und um sie zubefüllen.<br />
                <strong>Connect-Flash:</strong> Connect-Flash habe ich verwendet
                um Messages darzustellen, zum Beispiel die Fehlermeldungen bei falsch
                Eingaben im Login.<br />
                <strong>Morgan:</strong> habe ich dazu verwedet, dass jedes mal wenn
                wir einen Request vom Client bekommen, dieser in der Console ausgegeben
                wird. das ist sehr praktisch zum debuggen.<br />
                <strong>Connect-SQLite3:</strong> Dieses Nodemodul habe ich verwendet
                um die Sessions mit der Datanbank zu verbinden. Dieses Modul hat
                auch den Datenbanktable Sessions erstellt.<br />
                <strong>
                  Util:
                </strong> Util habe ich verwendet um mir den Request des Formularbodys
                leserlich in der Console ausgeben zu lassen.
              </content>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <div class="card">
            <div class="card-content">
              <h4 class="subtitle is-4">
                Welchen vorhandenen Lösungen haben Sie als Vorlage oder
                Inspiration genutzt?
              </h4>
              <content>
                Ich habe in erster Hinsicht mit der Blogaufgabe aus dem Labor
                weiter gearbeitet, da ich hier schon einige Funktionen für die
                Hausarbeit hatte.<br /> Außerdem habe ich mir zwei Online Kurse auf
                Udemy angesehen, von Jannis Seeman, einen zum Thema JavaScript und
                einen zum thema Node.js.
                <br />Sehr gute Inspiration lieferten auch die Tutorials von <a href="https://www.youtube.com/channel/UCFbNIlppjAuEX4znoulh0Cw">
                  Web Dev Simplified
                </a> auf YouTube. Hier speziell das Video zum Thema <a href="https://www.youtube.com/watch?v=Ud5xKCYQTjM&list=PLW4iA_4NoMWQFj1FvoueKHV5mjNoyvMDK&index=2&t=128s">
                  Authentifizierung
                </a> und <a href="https://www.youtube.com/watch?v=-RCnNyD0L-s&list=PLW4iA_4NoMWQFj1FvoueKHV5mjNoyvMDK&index=2">
                  Passport Login
                </a>. Daher hab ich auch den Ansatz, das Ganze mit dem Modul
                Passport zu lösen.
                <br />
                Ebenfalls hat mir die <a href="https://www.youtube.com/watch?v=gYjHDMPrkWU&list=PLpPnRKq7eNW3Qm2OfoJ3Hyvf-36TulLDp">
                  Tutorialreihe
                </a> von <a href="https://www.youtube.com/channel/UC9Yp2yz6-pwhQuPlIDV_mjA">
                  Chris Courses
                </a> von Youtube geholfen, um das ganze Thema mit der Authentifizierung,
                Passports und Hashen der Passwörter zu verstehen, denn hier wurde
                das ganze noch etwas ausführlicher erklärt und etwas spezifischer
                verwendet.

                <br />Um den Bildupload mit Multer umzusetzen habe ich mir von <a href="https://www.youtube.com/channel/UCSJbGtTlrDami-tDGPUV9-w">
                  Acadamind
                </a> auf youtube dieses <a href="https://www.youtube.com/watch?v=srPXMt1Q0nY&t=148s">
                  Video
                </a> dazu angesehen. Und außedem die <a href="https://www.npmjs.com/package/multer">
                  Dokumentation
                </a> zu Multer und auch die Multerdoku von <a href="http://expressjs.com/en/resources/middleware/multer.html">
                  ExpressJS
                </a><br />
                Die Dokumantation von <a href="https://twig.symfony.com/doc/">
                  Twig-Template
                </a> hat mir ebenfalls viel geholfen.<br />
              </content>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <div class="card">
            <div class="card-content">
              <h4 class="subtitle is-4">
                Ggf. eine Erklärung, dass sie über die nötigen Rechte für
                externe Inhalte, Bilder und Komponenten verfügen, ggf. mit URIs.
                Keine Ausdrucke der AGBs beifügen!
              </h4>

              <content>
                <a href="https://bulma.io/">Bulma CSS Framework</a><br />

                Bilder: Die Test Bilder sind von <a href="https://unsplash.com/">
                  Unsplash
                </a>.<br />
                Entenicon: Das Icon ist von <a href="https://www.flaticon.com/de/kostenloses-icon/ente_2917730?term=duck&page=1&position=13">
                  Flaticon
                </a>.<br />
                Font: Die Font die ich verwendet habe, habe ich bei Google Fonts runtergeladen und heißt
                <a href="https://fonts.google.com/specimen/Comfortaa?query=comfo#glyphs">
                  Comfortaa
                </a>. " License These fonts are licensed under the Open Font
                License. You can use them freely in your products & projects -
                print or digital, commercial or otherwise. However, you can't
                sell the fonts on their own. This isn't legal advice, please
                consider consulting a lawyer and see the full license for all
                details."
                <br />
              </content>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
