{% extends 'createEntry.twig' %}

{% block titel %}
  <div class="column is-full">
    <h2 class="subtitle is-2">
      Eintrag: {{ entry.entry_title }} bearbeiten
    </h2>
  </div>
{% endblock %}

{% block buttons %}
  <div class="column is-full">
    <button type="submit"
      class="button is-primary"
      name="update"
      value="update">
      Speichern
    </button>

    <button type="submit" 
      class="button is-light" 
      name="delete" 
      value="delete">
      Löschen
    </button>
  </div>
{% endblock %}
