{% extends 'index.twig' %}

{% block content %}


    <div class = "container">
      <div class="column"> 
        <div>
          <div class="success">{{ messages }}</div>
        </div>
      </div>
    </div>

  <div class = "sorting-buttons">
    <div class="container">
      <div class = "columns">
       <div class = "column is-half is-offset-2">
         <a href = "/entry/alphabetisch">
           <button class="button is-info is-rounded">Alphabetisch</button>
         </a> 
         <a href = "/entry/all">
           <button class="button is-link is-rounded">Aktualität</button>
         </a>
       </div>
      </div>
      </div>
   </div>
    
      {% for entry in all %}
         <div class = "container">
          <div class="column is-half is-offset-2"> 
           <div class="card">

           {% if entry.picture %}
            <div class="card-image">
              <div class = "container">
                <figure class="">
                  <img src="/pictures/{{entry.picture}}" alt="Placeholder image" /> 
                </figure>
             </div>
           </div>
           {% endif %}
    
          <div class="card-content">      
              <p class="title is-2">
                <a href="{{entry.entry_id}}"> {{ entry.entry_title }}</a> <br>
              </p>              
              <div class="content">
                <p>
                   {{ entry.entry_text }} <br>
               </p>
               <p class="subtitle is-5">
                    verfasst von: <strong> <a href = "/entry/profile/{{entry.entry_author_fk}}" > {{ entry.entry_author_username }} </a></strong> <br>
               </p>
              </div>
           </div>       
        </div> 
       </div>
         {% endfor %}
          {% if isAuthenticated %}
            <div class = container>
               <div class="column is-full"> 
                  <a href="/entry/add"
                     class="btn-group"
                     role="group"
                     aria-label="Basic example">
                       <button type="button" class="button is-primary">
                           Neuen Eintrag erstellen
                        </button>
                    </a>
                </div>
            </div>
         {% endif %}
{% endblock %}