{% extends 'index.twig' %}

{% block content %}
  <body>
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="card">
          <div class="card-content">
            <h2 class="title">
              Achtung! Fehler!
            </h2>
            <h3 class="subtitle">
              {{ error }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
