{% extends 'index.twig' %}

{% block content %}
<body>


    <div class = "container">
      <div class="column is-three-quarters is-offset-1 "> 
        <div>
          <div class="success">{{ messages }}</div>
        </div>
      </div>
    </div>

  <div class = "container">
    <div class="column is-three-quarters is-offset-1 "> 
      <div class = "card">
        <div class = "card-content">     
          <p class = "title">
           <sction>
             <div  style="text-align: center">
               <div class = "container">
                 <h2 class = "title is-2">
                  Tausche dich mit anderen Nutzern aus
                 </h2>
               </div>
              </div>     
            </section>
          </p>
          <p class = "subtitle">
           <section>    
            <div  style="text-align: center">
              <div class = "container">
                <h4 class = "subtitle is-4">
                   Melde dich jetzt an um die Blogbeiträge anderer <br>
                   User zu kommentieren oder eigene Einträge <br>
                   zu verfassen.<br>
                 </h4> 
              </div>
           </div>    
          </section>
          </p>
        </div>
        <div class = "column is-offset-5">
        <div class = "card-image">
        <figure class = "image is-96x96">
        <img src = "ente.png">
        </figure>
        </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
