<!DOCTYPE html>
<html>
  {% block head %}
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>
        Duck-Blog
      </title>
      <link rel="stylesheet" href="/css/bulma.css" />
      <link rel="stylesheet" href="/css/specific.css" />
    </head>
  {% endblock %}

  <body>
    {% block header %}
      <nav class="level">
        <div class="level-left">
          <p class="level-item">
            <a class="navbar-item" href="/">Home</a>
          </p>
          <p class="level-item">
            <a class="navbar-item" href="/entry/all">Blog Einträge</a>
          </p>
          <p class="level-item">
            <a class="navbar-item" href="/dokumentation">Dokumentation</a>
          </p>
        </div>

        <div class="column is-offset-2">
          <div class="duckblog">
            <h1 class="title is-1">
              Duck-Blog
            </h1>
          </div>
        </div>
        <div class="level-right">
          <div class="field is-grouped">
            {% if isAuthenticated %}
              <p class="level-item">
                <a href="/entry/profile/{{ user.user_id }}">
                  <button class="button is-link">{{ user.user_name }}</button>
                </a>
              </p>

              <p class="level-item">
                <a href="/entry/add">
                  <button class="button is-primary">
                    Neuen Eintrag erstellen
                  </button>
                </a>
              </p>
            {% endif %}

            {% if not isAuthenticated %}
              <p class="level-item">
                <a href="/logIn"
                  class="btn-group"
                  role="group"
                  aria-label="Basic example">
                  <button type="button" class="button is-primary">Login</button>
                </a>
              </p>
            {% else %}
              <p class="level-item has-text-centered">
                <a href="/logOut"
                  class="btn-group"
                  role="group"
                  aria-label="Basic example">
                  <button type="button" class="button is-danger">Logout</button>
                </a>
              </p>
            {% endif %}
          </div>
        </div>
      </nav>
    {% endblock %}

    {% block landing %}

    {% endblock %}

    {% block content %}

    {% endblock %}

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p class="content is-medium">
            <a href="/impressum">Hier geht es zum <strong>Impressum</strong></a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
