{% extends 'index.twig' %}

{% block content %}
  <body>
    <div class="container">
      <h2 class="subtitle is-2">
        Login
      </h2>

      <div class="error">
        {{ error }}
      </div>
      <div class="success">
        {{ messages }}
      </div>

      <form action="" method="post" id="register">
        <div>
          <label class="label">Benutzername</label>
          <div class="field">
            <div class="control">
              <input class="input is-primary"
                type="text"
                placeholder="Benutzername"
                name="user_name" />
            </div>
          </div>
        </div>
        <div>
          <label class="label">Passwort</label>
          <div class="field">
            <div class="control">
              <input class="input is-primary"
                type="password"
                placeholder="Passwort"
                name="user_password" />
            </div>
          </div>
        </div>

        {% block buttons %}
          <div class="login-button">
            <button type="submit"
              class="button is-primary"
              name="login"
              value="login">
              Einloggen
            </button>
          </div>
        {% endblock %}

      </form>

      <div class="registrations-container">
        <h4 class="subtitle is-4">
          Du hast noch kein Konto? Dann registriere dich hier.
        </h4>
        <a href="registration" aria-label="Basic example">
          <button type="button" class="button is-info">Regestrieren</button>
        </a>
      </div>
    </div>
  </body>
{% endblock %}
