{% extends 'index.twig' %}

{% block content %}
  <div class="container">
    <h2 class="subtitle is-2">
      Registration
    </h2>

    {% for error in errors %}
      <div class="error">
        {{ error.msg }}
      </div>
    {% endfor %}

    <form action="" method="post" id="register">
      <div class="form-group col-md-6">
        <label class="label" for="user_name">Benutzername</label>
        <input type="text"
          name="user_name"
          class="input"
          placeholder="Benutzername" />
      </div>
      <div class="form-group col-md-6">
        <label class="label" for="user_email">Email</label>
        <input type="text"
          name="user_email"
          class="input"
          placeholder="Email" />
      </div>
      <div class="form-group col-md-6">
        <label class="label" for="user_password">Passwort</label>
        <input type="password"
          name="user_password"
          class="input"
          placeholder="Passwort" />
      </div>
      <div class="form-group col-md-6">
        <label class="label" for="passwordmatch">
          Passwort erneut eingeben
        </label>
        <input type="password"
          name="passwordmatch"
          class="input"
          placeholder="Passwort" />
      </div>

      <div class="registration-button">
        <a href="/"><button type="button" class="button">Abbrechen</button></a>

        {% block buttons %}
          <button type="submit"
            class="button is-primary"
            name="register"
            value="register">
            Registrieren
          </button>
        {% endblock %}
      </div>
    </form>
  </div>
{% endblock %}
