{% extends 'index.twig' %}

{% block content %}
  <body>
    <div class="container">
      <div class="column">
        <div>
          <div class="success">
            {{ messages }}
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="column is-full">
        <h2 class="title is-2">
          {{ entry.entry_title }}
        </h2>
      </div>
      {% if entry.picture %}
        <div class="column is-full">
          <img src="/pictures/{{ entry.picture }}" />
        </div>
      {% endif %}
      <div class="content is-large">
        <div class="column is-full">
          {{ entry.entry_text }}
        </div>
      </div>

      <div class="column is-full">
        <div class="content is-medium">
          <p>
            verfasst von : <a href="/entry/profile/{{ entry.entry_author_fk }}">{{
                entry.entry_author_username
              }}</a>
          </p>
        </div>
      </div>
      {% if isAuthenticated %}
        {% if user.user_id == entry.entry_author_fk %}
          {% block buttons %}
            <div class="column is-full">
              <a href="/entry/{{ entry.entry_id }}/edit"
                class="btn-group"
                role="group"
                aria-label="Basic example">
                <button type="button" class="button is-link">
                  diesen Eintrag bearbeiten
                </button>
              </a>
            </div>
          {% endblock %}
        {% endif %}
      {% endif %}

      {% if isAuthenticated %}
        <div class="column is-full">
          <a href="{{ entry.entry_id }}/comment">
            <button class="button is-primary">Kommentieren</button>
          </a>
        </div>
      {% endif %}

      {% if comments[0].comment_text != null %}
        <div>
          <div class="column is-full">
            <h4 class="subtitle is-4">
              Kommentare
            </h4>
          </div>

          {% for i in range(comments.length - 1) %}
            <div class="column">
              <div class="card">
                <div class="card-content">
                  <div class="column is-full">
                    <div class="content is-medium">
                      <p class="title">
                        {{ comments[i].comment_text }}
                      </p>
                    </div>

                    <p class="subtitle">
                      Kommentar von: <a href="/entry/profile/{{ comments[i].comment_user_fk }} ">{{
                          comments[i].comment_username
                        }}</a>
                    </p>

                    {% if isAuthenticated %}
                      {% if user.user_id == comments[i].comment_user_fk %}
                        <a href="/entry/{{ entry.entry_id }}/{{
                          comments[i].comment_id
                          }}/delete">
                          <button class="button is-link">
                            Kommentar löschen
                          </button>
                        </a>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </body>
{% endblock %}
