{% extends 'index.twig' %}

{% block content %}
  <body>
    <div class="container">
      <div class="container">
        <div class="column is-half">
          <h2 class="subtitle is-2">
            {{ author }}
          </h2>
        </div>
      </div>
      <div class="columns">
        {% if all == null %}
          <div class="container">
            <div class="column is-narrow">
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        Dieser User hat leider noch keine Beitrtäge verfasst.
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        {% else %}
          {% for entry in all %}
            <div class="container">
              <div class="column is-narrow">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>
                            <a href="/entry/{{ entry.entry_id }}">
                              {{ entry.entry_title }}
                            </a>
                          </strong>
                          <br />
                          {{ entry.entry_text }}
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </body>
{% endblock %}
