{% extends 'index.twig' %}

{% block content %}
  <div class="container">
    <div class="inputError">
      {{ err.msg }}
    </div>

    <form action="" method="post" id="comment">
      <div class="form-group">
      <div class="column is-full">
        <h3 class="title is-3">
          Schreib ein Kommentar
        </h3>
        </div>
      </div>
      <div class="form-group">
        <div class="column is-full">
          <textarea class="textarea"
            name="comment_text"
            form="comment"
            placeholder="Schreib hier dein Kommentar hinein"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="column is-full">
          <button type="submit"
            class="button is-primary"
            name="comment"
            value="Comment">
            Kommentieren
          </button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
