footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin-top: 2rem;

}
.sorting-buttons {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.login-button {
margin-top: 1rem;
margin-right: 1rem;
margin-bottom: 1rem;
}

.registrations-container{
    margin-bottom: 1rem;
}

.level{
    margin-top: 1rem;
    font-family: 'Comfortaa';
}

.level-right{
    margin-right: 1rem;
    font-family: 'Comfortaa';
}

.error{
    font-family: 'Comfortaa';
    color:red;
    font-size: large;
    font-weight: bold;
}

.success{
    font-family: 'Comfortaa';
    color: green;
    font-size: large;
    font-weight: bold;
}

.duckblog{
    font-family: 'Comfortaa';
}

.h1, h2, h3, h4, a, p, button, label {
    font-family: 'Comfortaa';
}

.registration-button{
margin-top: 1rem;
}

.label{
    margin-top: 1rem;
}



